<template>
  <div class="modal-content">
    <div>
      <div>
        <!--MS通し番号-->
        <b-form-group class="col-8" label="MS通し番号">
          <span class="content">MS 4</span>
        </b-form-group>

        <!--NAPT用グローバルIP-->
        <b-form-group class="col-8" label="NAPT用グローバルIP">
          <span class="content">現在 1個/ 上限 12個</span><br />
          <span class="content">グローバルIP数</span><br />
          <b-form-input class="content" v-model="ipCountNapt" />
          <span class="content">払出済グローバルIP</span><br />
          <span class="content pl-3">グローバルIP</span><br />
          <div v-for="item in form.Napt" :key="item">
            <span class="content pl-3"
              >{{ item.ip }}
              <span v-if="form.Napt.length > 1" class="ml-3">
                <b-icon-dash-square
                  class="remoteIcon"
                  @click="removeNapt(item)"
                />
              </span>
              <span v-else /> </span
            ><br />
          </div>
        </b-form-group>

        <!--NAT用グローバルIP-->
        <b-form-group class="col-8" label="NAT用グローバルIP">
          <span class="content">現在 1個/ 上限 12個</span><br />
          <span class="content">グローバルIP数</span><br />
          <b-form-input class="content" v-model="ipCountNat" />
          <span class="content">払出済グローバルIP</span><br />
          <span class="content pl-3">グローバルIP</span><br />
          <div v-for="item in form.Nat" :key="item">
            <span class="content pl-3"
              >{{ item.ip }}
              <span v-if="form.Nat.length > 1" class="ml-3">
                <b-icon-dash-square
                  class="remoteIcon"
                  @click="removeNat(item)"
                />
              </span>
              <span v-else /> </span
            ><br />
          </div>
        </b-form-group>
      </div>
    </div>
    <footer class="modal-footer justify-content-end btn-container">
      <b-button variant="primary" @click="update">変更</b-button>
      <b-button variant="outline-primary" @click="cancel">キャンセル</b-button>
    </footer>
  </div>
</template>

<script>
const GlobalIpNaptNat = {
  NAPT: [
    { ip: "44.124.186.05/32", delFlg: false },
    { ip: "44.124.186.06/32", delFlg: false },
    { ip: "246.124.186.05/32", delFlg: false },
  ],
  NAT: [
    { ip: "44.124.186.05/32", delFlg: false },
    { ip: "44.124.186.06/32", delFlg: false },
    { ip: "246.124.186.05/32", delFlg: false },
  ],
};

export default {
  name: "MSGlobalIpModify",

  data() {
    return {
      form: {
        Napt: [],
        Nat: [],
      },
      // 変更前のグローバルIP数
      ipCountNaptBefore: 0,
      ipCountNatBefore: 0,
      // 変更後のグローバルIP数
      ipCountNapt: 0,
      ipCountNat: 0,
      // 確認画面への転送データ
      confirmdata: {
        addNapt: "",
        napt: [],
        addNat: "",
        nat: [],
      },
    };
  },
  mounted() {
    // グローバルIP
    this.confirmdata.napt = JSON.parse(JSON.stringify(GlobalIpNaptNat.NAPT));
    this.confirmdata.nat = JSON.parse(JSON.stringify(GlobalIpNaptNat.NAT));
    this.form.Napt = JSON.parse(JSON.stringify(GlobalIpNaptNat.NAPT));
    this.form.Nat = JSON.parse(JSON.stringify(GlobalIpNaptNat.NAT));
    // グローバルIP数
    this.ipCountNaptBefore = GlobalIpNaptNat.NAPT.length;
    this.ipCountNatBefore = GlobalIpNaptNat.NAT.length;
    this.ipCountNapt = GlobalIpNaptNat.NAPT.length;
    this.ipCountNat = GlobalIpNaptNat.NAT.length;
  },
  methods: {
    // NaptIP削除処理
    removeNapt(target) {
      this.form.Napt = this.form.Napt.filter((item) => item !== target);
      this.confirmdata.napt.forEach((item) => {
        if (item.ip == target.ip) {
          item.delFlg = true;
        }
      });
    },
    // NatIP削除処理
    removeNat(target) {
      this.form.Nat = this.form.Nat.filter((item) => item !== target);
      this.confirmdata.nat.forEach((item) => {
        if (item.ip == target.ip) {
          item.delFlg = true;
        }
      });
    },
    update() {
      // 確認画面への転送データ
      // NaptIP追加個数
      this.confirmdata.addNapt = this.ipCountNapt - this.ipCountNaptBefore;
      // NatIP追加個数
      this.confirmdata.addNat = this.ipCountNat - this.ipCountNatBefore;

      // 確認画面へ遷移
      this.$router.push({
        name: "Confirm",
        params: { data: this.confirmdata },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .multicloud-modal {
    .vfm__content {
      width: 900px;
    }
  }

  .pagination {
    padding-right: 1em;
  }

  //項目欄固定なし
  .b-table-sticky-header > .table.b-table > thead > tr > th {
    position: static;
  }
}
.content {
  margin-left: 1em;
}
</style>
