<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>会社員新規登録</title>
<link rel="stylesheet" th:href="@{/add.css}">
</head>

<body>
	<div class="body_fix"></div>
	<div class="container">
		<header>
			<div class="row">
				<h1 style="text-align: center;">会社員新規登録画面</h1>
			</div>
		</header>
	</div>

	<form action="/insert">
		<table class="cp_table" align="center">
			<tr>
				<th>社員番号※</th>
				<td><input type="text" name="id"
					style="width: 300px; height: 40px;"></td>
			</tr>
			<tr>
				<th>社員名※</th>
				<td><input type="text" name="vName"
					style="width: 300px; height: 40px;"></td>
			</tr>
		</table>

		<br>

		<div align="center">
			<input class="cp_btn" type="submit" value="登録"></a>
		</div>

	</form>

</body>

</html>