<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>会社員一覧</title>
    <link rel="stylesheet" th:href="@{/list.css}">
</head>

<body>
    <h2>
        会社員一覧画面
    </h2>
    <table border="1" align="center">
        <tr>
            <th>社員番号</th>
            <th>社員名</th>
        </tr>
        <tr th:each="emp : ${list}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.vName}"></td>
        </tr>
    </table>
    <br>
    <div style="text-align: center;">
        <a href="add" class="cp_textlink05">新規登録はこちら</a>
    </div>
</body>

</html>