<style>
    .one{
        border-style: solid;
        border-width: 10px;
        width: 50%;
        margin: 20px 10px 11px 12px;
        padding: 30px;
    }
</style>
<p class="one">bbbbbbb</p>
<p class="">