<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <script src="js/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <button @click="say('hello!')">hello</button>
        <button @click=h1>Count</button>
         <p>{{abc}}</p>
    </div>
    <script>
      var vm=  new Vue({
            el: '#app',
            methods: {
                say: function (message) {
                    alert(message)
                }
            },
            methods:{
               h1:function(abc) {
                this.abc++
               }
            },
            data: {
                abc: 0
            }
        });
        vm.$watch('abc', function (a, b) {
            alert('计数器值的变化 :' + b + ' 变为 ' + a + '!');
        });
    </script>
</body>

</html>