<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<!--http-equiv相当于http的文件头作用，它可以向浏览器传回一些有用的信息，以帮助正确和精确地显示网页内容-->
		<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- viewport针对移动网页优化过的页面 -->
		<!-- device-width为设备的宽度,initial-scale：初始缩放比例， -->
		<!-- maximum-scale：允许用户缩放到的最大比例,minimum-scale：允许用户缩放到的最小比例 -->
		<!-- user-scalable：用户是否可以手动缩放 -->
		<meta name="format-detection" content="telephone=no" />
		<!-- 格式检测，用来检测html里的一些格式 ,telephone=no 禁止把数字转化为拨号链接-->
		<link href="./css/reset.css" rel="stylesheet" type="text/css">
		<link href="./css/index.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="near-box" id="app">
			<div class="index-bigbox">
				<!--轮播开始-->
				<div id="slideBox" class="slideBox">
					<div class="bd" id="bd">
						<ul>
							<li>
								<a class="pic" href="#"><img src="./del/Cat03.jpg" /></a>
							</li>
							<li>
								<a class="pic" href="#"><img src="./del/banner-img2.jpg" /></a>
							</li>
							<li>
								<a class="pic" href="#"><img src="./del/banner-img2.jpg" /></a>
							</li>
							<li>
								<a class="pic" href="#"><img src="./del/banner-img3.jpg" /></a>
							</li>
						</ul>
					</div>
					<div class="hd">
						<ul></ul>
					</div>
				</div>
				<!--搜索开始-->
				<div class="brand-box1">
					<input type="search" id="search"  v-model="search"  name="search" placeholder="搜索" style="text-align: center">
					<span id="search_img" v-on:click="searchFruits" class="index-top-img1"><img src="./images/search3.png" alt=""></span>
				</div>
				<!--搜索结束-->
				<!--水果信息开始-->
				<div class="special-sale-box3" v-cloak>
					<div class="special-sale-box4"  v-for="(fruits,index) in rows":key="index">
						<a href="goods-details.html" :href="'goods-details.html?fId='+fruits.fid">
							<span class="special-sale-img1"><img :src="fruits.image" alt=""></span>
							<span class="special-sale-tbox">{{fruits.title}}{{fruits.specification}}</span>
							<span class="special-sale-text2">￥{{fruits.priceStr}}<i>￥{{fruits.priceOffStr}}</i></span>
						</a>
					</div>
				</div>
				<!--水果信息结束-->
			</div>
			<!--bigbox结束-->
			<div class="kaola-bottom">
				<a href="./index.html" class="kaola-bottom-box1">
					<span class="kaola-bottom-img1"><img src="./images/home.png"></span>
					<span class="kaola-bottom-text1 text2">首页</span>
				</a>
				<a href="./shoping-cart.html" class="kaola-bottom-box1">
					<span class="kaola-bottom-img1"><img src="./images/shop-cart1.png"></span>
					<span class="kaola-bottom-text1">购物车</span>
				</a>
				<a href="./personal-center.html" class="kaola-bottom-box1">
					<span class="kaola-bottom-img1"><img src="./images/people1.png"></span>
					<span class="kaola-bottom-text1">我的</span>
				</a>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
		<!--点击箭头滚到顶部-->
		<script type="text/javascript" src="js/scrolltopcontrol.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/axios-0.18.0.js"></script>
		<script>
			new Vue({
				el:"#app",
				data:{
					page:1,	//当前页数
					size:9,	//数量
					totalPage:0,//总页数
					rows:[	//水果信息
						{
							"title": "",
							"specification": "",
							"supplier": "",
							"priceStr": "",
							"priceOffStr": "",
							"fruitsImages": [
								{
									"fiId": 0,
									"image": "/",
									"fid": 0
								}
							],
							"fruitsImageDetails": [
								{
									"fidId": 0,
									"image": "",
									"fid": 0
								}
							],
							"fid": 0
						}
					],
					search:"",	//要搜索的内容
				},
				methods:{
					//获取水果信息
					init(){
						axios.get(`/fruits?page=${this.page}&size=${this.size}`).then(response => {
							console.log(response);
							this.rows = response.data.rows;	//水果信息
							this.page = this.page+1;	//当前页数+1
							this.totalPage = response.data.page;	//获取总页数
							console.log(this.rows);
						}).catch(err => {
							console.log(err);
							alert(err.response.data.message);
						})
					},
					//搜索水果信息
					searchFruits(){
						axios.get(`/fruits?search=${this.search}`).then(response => {
							console.log(response);
							this.rows = response.data.rows;	//水果信息
							this.page = this.page+1;	//当前页数+1
							this.totalPage = response.data.page;	//获取总页数
							console.log(this.rows);
						}).catch(err => {
							console.log(err);
							alert(err.response.data.message);
						})
					}
				},
				created(){
					this.init();
				}
			})
		</script>
		<script>
			$(function() {
				TouchSlide({
					slideCell: "#slideBox",
					titCell: ".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
					mainCell: ".bd ul",
					effect: "leftLoop",
					autoPage: true, //自动分页
					autoPlay: true, //自动播放
				});
			});
		</script>
	</body>
</html>