<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no"/>
<link href="./css/reset.css" rel="stylesheet" type="text/css">
<link href="./css/personal-center.css" rel="stylesheet" type="text/css">
	<style>
		.zjzz-buylist-tp3 {
			position: absolute;
			top: -10px;
			right: -10px;
			color: #FF9201;
			font-size: 12px;
			width: 15px;
			height: 15px;
			line-height: 14px;
			text-align: center;
			border: 1px solid #FF9201;
			border-radius: 50%;
		}
	</style>
</head>
<!-- </head> -->
<body>
<div class="near-box" id="app" v-cloak>
	<!-- v-cloak为了解决在未加载代码导致的闪烁现象 -->
      <div class="index-bigbox" style="margin-top: 0px;">
          <!--头部开始-->
          <div class="personal-top">
          	 <img src="./images/599aa36d5e4a4.jpg" alt="" class="personal-img">
          	 <div class="personal-top-box1">
          	 	<span class="personal-top-img1">
					<img src="./del/timg1.jpg" alt=""></span>
          	 	<div class="personal-top-box2" v-if="login">
          	 		<span class="personal-top-text1">{{userCenter.userName}}</span>
          	 	</div>
				 <div class="personal-top-box2" v-else>
					 <span class="personal-top-text1">未登录</span>
				 </div>
          	 </div>
          </div>
          <!--头部结束--> 
          <!--代付款分类开始-->
          <div class="personal-box1 mbt-05">
          	   <a href="./my-indent-dfk.html" class="personal-box2 box3">
          	      <span class="personal-box1-img1" style="position: relative">
					  <img src="./images/personal-center-img1.png" alt="">
					  <span v-if="userCenter.waitPay>0" class="zjzz-buylist-tp3">{{userCenter.waitPay}}</span>
				  </span>
          	      <span class="personal-box1-text1">待付款</span>

          	   </a>
          	   <a href="./my-indent-dfh.html" class="personal-box2 box3">
          	      <span class="personal-box1-img1" style="position: relative">
					  <img src="./images/personal-center-img2.png" alt="">
					   <span v-if="userCenter.waitDeliver>0" class="zjzz-buylist-tp3">{{userCenter.waitDeliver}}</span>
				  </span>
          	      <span class="personal-box1-text1">待发货</span>
          	   </a>
          	   <a href="./my-indent-dsh.html" class="personal-box2 box3">
          	      <span class="personal-box1-img1" style="position: relative">
					  <img src="./images/personal-center-img3.png" alt="">
					   <span v-if="userCenter.waitTake>0" class="zjzz-buylist-tp3">{{userCenter.waitTake}}</span>
				  </span>
          	      <span class="personal-box1-text1">待收货</span>
          	   </a>
          	   <a href="./my-indent-pj.html" class="personal-box2 box3">
          	      <span class="personal-box1-img1" style="position: relative">
					  <img src="./images/personal-center-img4.png" alt="">
					   <span v-show="userCenter.waitReview>0" class="zjzz-buylist-tp3">{{userCenter.waitReview}}</span>
				  </span>
          	      <span class="personal-box1-text1">待评价</span>
          	   </a>
<!--          	   <a href="./my-indent-all.html" class="personal-box2 box3">-->
<!--          	      <span class="personal-box1-img1"><img src="./images/personal-center-img5.png" alt=""></span>-->
<!--          	      <span class="personal-box1-text1">全部订单</span>-->
<!--          	   </a>-->
          </div>
          <!--代付款分类结束-->
          <!--功能分类开始-->
          <a href="/receiving-adress-list.html" class="personal-box5">
          	  <span class="personal-box5-img1"><img src="./images/personal-center-img11.png" alt=""></span>
          	  <span>收货地址</span>
          </a>
<!--          <span class="personal-box5-text2">退出登录</span>-->
		  <a v-if="login!=true" href="/login.html" class="personal-box5-text2">去登录</a>
		  <a v-else href="/user/exit" class="personal-box5-text2">退出</a>
      </div>
      <!--bigbox结束-->
      <div class="kaola-bottom">
          <a href="./index.html" class="kaola-bottom-box1">
               <span class="kaola-bottom-img1"><img src="./images/home2.png"></span>
               <span class="kaola-bottom-text1">首页</span>
          </a>
          <a href="./shoping-cart.html" class="kaola-bottom-box1">
               <span class="kaola-bottom-img1"><img src="./images/shop-cart1.png"></span>
               <span class="kaola-bottom-text1">购物车</span>
          </a>
          <a href="./personal-center.html" class="kaola-bottom-box1">
               <span class="kaola-bottom-img1"><img src="./images/people2.png"></span>
               <span class="kaola-bottom-text1 text2">我的</span>
          </a>
     </div>
</div>
</body>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script>
	new Vue({
		el: "#app",
		data: {
			"userCenter":{
				"userName":"",
				"headImage":"",
				"waitPay":0,
				"waitDeliver":0,
				"waitTake":0,
				"waitReview":0,
			},
			"login":false,
		},
		methods: {
			//获取购物车项
			init() {
				console.log(this.isLogin().then(isLogin=>{
					this.login = isLogin;
					if(isLogin){
						axios.get(`/order/userCenter`).then(response => {
							console.log(response);
							this.userCenter = response.data;
							console.log(this.userCenter);
						}).catch(err => {
							console.log(err);
							console.log(err.response.data);
						})
					}
				}));

			},
			isLogin: function(){
				return new Promise( (resolve, reject)=> {
					 axios.get(`/user`).then(response => {
						console.log(response);
						resolve(response.data);
					}).catch(err => {
						console.log(err);
						reject(err.response.data);
					})
				});

			}
		},
		created() {
			this.init();
		},
	});
</script>
</html>