#button
{
	text-align: center;
}

h1{
	color: #040c3f;
}

.cp_table *, .cp_table *:before, .cp_table *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.cp_table {
	width: 50%;
	border-collapse: collapse;
}
.cp_table th, .cp_table  td {
	padding: 20px;
	border: 1px solid #040c3f;
}
.cp_table th {
	width: 30%;
	text-align: left;
	background: #d5defa;
}
@media only screen and (max-width:480px) {
	.cp_table {
		margin: 0;
	}
	.cp_table th, .cp_table td {
		width: 50%;
		display: block;
		border-top: none;
	}
	.cp_table tr:first-child th {
		border-top: 1px solid #e3f2ff;
	}
}
a.cp_btn {
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #040c3f;
	border: 2px solid #040c3f;
	border-radius: 3px;
	transition: .4s;
}

a.cp_btn:hover {
	background: #040c3f;
	border: 2px solid #040c3f;
	color: #fff;
}
