h2{
    text-align: center;
	color: #040c3f;
}

.cp_block {
	margin: 5em auto;
}
.cp_textlink05 {
	position: relative;
	display: inline-block;
	padding: 0.1em 0.3em;
	text-decoration: none;
	color: #040c3f;
}
.cp_textlink05:after,
.cp_textlink05::before {
	position: absolute;
	bottom: 0;
	content: '';
	transition: all 0.3s ease;
}
.cp_textlink05:after {
	right: 50%;
	left: 50%;
	width: 0;
	height: 100%;
	border-radius: 3px;
	background-color: #040c3f;
}
.cp_textlink05::before {
	left: 0;
	width: 100%;
	height: calc(100% - 2px);
	border-top: 1px solid #040c3f;
	border-bottom: 1px solid #040c3f;
}
.cp_textlink05:hover:after {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
.cp_textlink05:hover::before {
	right: 50%;
	left: 50%;
	width: 0%;
}

table{
	width:50%;
	border-collapse: collapse;
	color: #040c3f;
}

th {
	width: 13%;
	background: #d5defa;
	padding: 10px;
	border: 1px solid #040c3f;
}

td {
	text-align: center;
	vertical-align: top;
	padding: 10px;
	border: 1px solid #040c3f;
}