<html>
    <head>
        <meta charset="UTF-8">
        <title>vue.js</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    
<body>
  <div id='app'>
    <!--v-for循环普通数组-->
    <p v-for="(item1,i) in list">--索引值--{{i}}   --每一项--{{item1}}</p>
    <br/>
    
    <!--v-for循环对象数组-->
    <p v-for="(user1,i) in listObj">--id--{{user1.id}}   --姓名--{{user1.name}}</p>
    <br/>
    
    <!--注意，在遍历对象的键值对的时候，除了有 val 和 key,在第三个位置还有一个索引-->
    <p >{{user.name}}{{user.gender}}</p>
    <br/>
    
    <!-- in 后面我们放过数组、对象数组、对象，还可以放数字-->
    <!-- 注意：如果使用v-for迭代数字的话，前面 count 的值从 1 开始-->
    <p v-for="count in 10">这是第{{count}}次循环</p>
    
  </div>
</body>
<!-- <script src="vue.min.js"></script> -->
<script>
  var vm = new Vue({
    el:'#app',
    data:{
      list:['t1','t2','y3','u4','i5','o6'],
      listObj:[
        {id:1, name:'zs1'},
        {id:2, name:'zs2'},
        {id:3, name:'zs3'},
        {id:4, name:'zs4'},
        {id:5, name:'zs5'},
        {id:6, name:'zs6'},
      ],
      user:{
        id:1,
        name:'托尼.贾',
        gender:'男'
      }
    }
  });
</script>
</html>
