                body {
                    background-color: rgb(106, 106, 106);
                    text-align: center;
                    margin: 190px 0;
                    font-size: 25px;
                }
                
                h1 {
                    color: aliceblue;
                }
                
                input[type=text] {
                    width: 25%;
                    padding: 20px 30px;
                    margin: 0px 10px 10px 10px;
                    box-sizing: border-box;
                    border: 3px solid rgb(52, 152, 219);
                    background-color: rgb(106, 106, 106);
                    text-align: center;
                    font-size: 20px;
                    outline: none;
                    color: aliceblue;
                }
                
                input[type=password] {
                    width: 25%;
                    padding: 20px 20px;
                    margin: 10px;
                    box-sizing: border-box;
                    border: 3px solid rgb(52, 152, 219);
                    background-color: rgb(106, 106, 106);
                    text-align: center;
                    font-size: 20px;
                    outline: none;
                    color: aliceblue;
                }
                
                input[type=submit] {
                    width: 10%;
                    background-color: #4CAF50;
                    border-color: black solid;
                    color: white;
                    padding: 20px;
                    margin: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 15px;
                }
                
                input[type=submit]:hover {
                    background-color: rgb(137, 243, 105);
                }
                
                input[type="text"]:focus,
                input[type="password"]:focus {
                    border-color: #2ecc71;
                }
                button{
                    position: fixed;
                    left: 30px;
                    top: 20px;
                    width: 10%;
                    background-color: #d6e269;
                    border-color: black solid;
                    color: white;
                    padding: 20px;
                    margin: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 15px;

                }