body {
    margin: 10px auto;
}

.calculator {
    margin: 0 auto;
    border: 5px solid #666;
    background: rgb(204, 204, 204);
    width: 500px;
    height: 700px;
    padding: 20px;
}

#screen {
    font-size: 35px;
    text-align: right;
    word-wrap:break-word;
    
}

.btn {
    font-size: 3em;
    border: 1px solid #ccc;    
    width: 100px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.btn-tall {
    height: 160px;
}

.btn-wide {
    width: 100px;
}