<template>
  <div class="modal-content">
    <div>
      <div>
        <!--MS通し番号-->
        <b-form-group class="col-12" label="MS通し番号">
          <span class="content">MS 4</span>
        </b-form-group>

        <!--NAPT用グローバルIP-->
        <b-form-group class="col-12" label="NAPT用グローバルIP">
          <span class="content">現在 1個/ 上限 12個</span><br />
          <span class="content">グローバルIP数</span><br />
          <span :class="{ red: !(this.$route.params.data.ip1add==='追加0個')}"> {{ this.$route.params.data.ip1add }} </span><br />
          <!-- <b-form-input class="content" v-model="ipCountNapt" /> -->
          <span class="content">払出済グローバルIP</span><br />
          <span class="content pl-3">グローバルIP</span><br />
          <div v-for="item in this.$route.params.data.ip1" :key="item">
            <span :class="{ red: (item.indexOf('削除') != -1)} " class="content pl-3">
              {{ item }}
              </span >
              <br />
            </div>
         <!-- <div v-for="item in $route.params.ip1del" :key="item">
            <span class="deleted"
              >{{ item }}            
              </span
            ><br />
         </div> -->
        </b-form-group>
        <br />
        <br />
        <!--NAT用グローバルIP-->
        <b-forsm-group class="col-12" label="NAT用グローバルIP">
          <span class="content">現在 1個/ 上限 12個</span><br />
          <span class="content">グローバルIP数</span><br />
          <span :class="{ red: !(this.$route.params.data.ip2add==='追加0個')}"> {{this.$route.params.data.ip2add}} </span><br />
          <!-- <b-form-input class="content" v-model="ipCountNat" /> -->
          <span class="content">払出済グローバルIP</span><br />
          <span class="content pl-3">グローバルIP</span><br />
          <div v-for="item in  this.$route.params.data.ip2" :key="item">
            <span :class="{ red: (item.indexOf('削除') != -1)} " class="content pl-3"
              >{{ item }}
             </span >
             <br />
          </div>
           <!-- <div v-for="item in $route.params.ip2del" :key="item">
            <span class="deleted"
              >{{ item }}            
              </span
            ><br />
         </div> -->
        </b-forsm-group>
      </div>
    </div>
    <footer class="modal-footer justify-content-end btn-container">
      <b-button variant="primary" @click="update">変更</b-button>
      <b-button variant="outline-primary" @click="cancel">キャンセル</b-button>
    </footer>
  </div>
</template>

<script>
// const GlobalIpNaptNat = {
//   NAPT: ["44.124.186.05/32", "44.124.186.06/32", "246.124.186.05/32"],
//   NAT: ["44.124.186.05/32", "44.124.186.06/32", "246.124.186.05/32"],
// };

export default {
  name: "Confirm",

  data() {
    return {
    };
  },
  props: {
  },
  // async mounted() {
  //   // グローバルIP
  //   this.form.Napt = GlobalIpNaptNat.NAPT;
  //   this.form.Nat = GlobalIpNaptNat.NAT;
  //   // グローバルIP数
  //   this.ipCountNapt = GlobalIpNaptNat.NAPT.length;
  //   this.ipCountNat = GlobalIpNaptNat.NAT.length;
  // },
  methods: {
    // removeNapt(target) {
    //   this.form.Napt = this.form.Napt.filter((item) => item !== target);
    // },
    // removeNat(target) {
    //   this.form.Nat = this.form.Nat.filter((item) => item !== target);
    // },
    // update() {
      // 宿題：
      // １．変更ボタンの実装をお願いいたします。
      // ２．確認画面の実装をお願いいたします。
      //確認機能  
       cancel(){
      this.$router.go(-1)
    },   
      update(){


    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .multicloud-modal {
    .vfm__content {
      width: 900px;
    }
  }

  .pagination {
    padding-right: 1em;
  }

  //項目欄固定なし
  .b-table-sticky-header > .table.b-table > thead > tr > th {
    position: static;
  }
}
.content {
  margin-left: 1em;
  
}
.red{
  color: red;
}
</style>
