<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>fetch</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="box">
        お名前を取得する
        <button @click="handleClick()">getName</button>

        <h3>{{username}}</h3>

        </ul>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#box",
            data: {
                username: ''
            },
            methods: {
                async handleClick() {
                    new Promise((resolve, reject) => {
                        const url = 'https://api.github.com/users/deatiger'
                        fetch(url).then(res => res.json())
                            .then(json => {
                                console.log('成功')
                                this.username = json.login
                            }).catch(error => {
                                console.error('エラー')
                            })

                    })
                }
            }
        })
    </script>
</body>

</html>