<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="keywords" content="">
<link href="" rel="stylesheet">

<script type="text/javascript" src="lib/vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" @input="handleInput()" v-model="mytext"/>
        <!-- <input type="text" @input="handleInput" /> -->

        <ul>
            <li v-for="aaa in datalist">
                {{aaa}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        //["aaa","bbb","ccc","ddd","add","cee","eee"]        
       var vm = new Vue({
           el:"#box",
           data:{
                mytext:'',
               datalist:["aaa","bbb","ccc","ddd","add","cee","eee"],
               list:["aaa","bbb","ccc","ddd","add","cee","eee"]   
           },
           methods:{
            handleInput(){
                console.log(this.mytext)
                // console.log("只要value改变，就会触发")
                //利用输入框的字符， 过滤出包含字段的元素

                //filter 过滤
                var newlist= this.list.filter(item=>item.indexOf(this.mytext) > -1)

                // console.log(newlist,this.datalist)
                this.datalist = newlist; 
                // 计算属性
            }
           }
       })



       var arr = [1,2,3,4,5]

       var newlist =arr.filter(item=>item>=3)
       console.log(newlist)
    </script>

    
</body>
</html>

