<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
     <div id="app">
          <div>
            <input type="checkbox" id="checkbox" v-model="checked">
            <button :disabled="!checked">ok</button>

            <input type="text" v-model="name">
            <button @click="add">添加</button>
          </div>
          <ul>
            <li v-for="(item, i) in list">
              <input type="checkbox"> {{item.name}}
            </li>
          </ul>
      <script>
          // 创建 Vue 实例，得到 ViewModel
          var vm = new Vue({
            el: '#app',
            data: {
              checked: false,
              name: '',
              newId: 3,
              list: [
                { id: 1, name: '李斯' },
                { id: 2, name: '吕不韦' },
                { id: 3, name: '嬴政' }
              ]
            },
            methods: {
              add() {
               //注意这里是unshift
                this.list.unshift({ id: (this.newId)++, name: this.name })
                this.name = ''
              }
            }
          });
        </script>
        </div>
</body>
</html>